.topbar{
    display: flex;
    background-color: #000866 ;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;  
}

.topbar a {
    width: 100%;
    height: 100%;
}


.itens{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.itens div{
    width: 8em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    margin-top: 0;
    width: 100px;
    height: 80px;
}
